@import "tailwindcss";

body ,html{
    background-color: #000;}

@font-face {
    font-family: "Jost-Light";
    src: url("../public/fonts/Jost-Light.ttf");
}
@font-face {
    font-family: "Jost-ExtraBold";
    src: url("../public/fonts/Jost-ExtraBold.ttf");
}
@font-face {
    font-family: "Jost-Medium";
    src: url("../public/fonts/Jost-Medium.ttf");
}
@font-face {
    font-family: "Jost-Regular";
    src: url("../public/fonts/Jost-Regular.ttf");
}
@font-face {
    font-family: "BungeeShade";
    src: url("../public/fonts/BungeeShade-Regular.ttf");
}
@font-face {
    font-family: "Jost-Semibold";
    src: url("../public/fonts/Jost-SemiBold.ttf");
}
@font-face {
    font-family: "JostBold";
    src: url("../public/fonts/Jost-Bold.ttf");
}
@font-face {
    font-family: "BungeeInline";
    src: url("../public/fonts/BungeeInline-Regular.ttf");
}
/* Global placeholder size */
input::placeholder, textarea::placeholder {
  font-size: 15px;
  font-family: Jost-Regular;
}
